* {
    margin: 0;
    cursor: none;
}

.background {
    height: 100%;
    width: 100%;
    color: #8d99ae;
    background-color: #282d42;
}

.bla {
    position: relative;
    top: 1200px;
}

@font-face {
    font-family: "CirrusCumulus";
    src: url("./fonts/cirruscumulus-master/fonts/CirrusCumulus.woff")
        format("woff");
}
