* {
    margin: 0;
    cursor: none;
}

.background {
    /* background-color: lavender; */
    height: 100%;
    width: 100%;
    /* color: #b7adcf; */
    color: #8d99ae;
    /* background-color: #5c415d; */
    background-color: #282d42;
}

.bla {
    position: relative;
    top: 1200px;
}
