.container {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    text-align: center;
    font-family: "Rajdhani", sans-serif;
}

a {
    text-decoration: none;
    color: tomato;
}
