.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #f1dac4;
    color: #b7adcf;
    height: 80%;
    width: 500px;
    border-radius: 20px;
    text-align: center;
}

.img_arrows {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    max-width: 100%;
    object-fit: contain;
}

.navig {
    font-size: 20px;
}
