.container {
    position: relative;
    font-family: "Rajdhani", sans-serif;
    font-size: 18px;
    position: absolute;
    /* top: 100%; */
    left: 0;
    right: 0;
    bottom: 0;

    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    z-index: 20;
    overflow: hidden;
}

.img_arrows {
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgs {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-width: 80%;
    height: 90%;
    object-fit: scale-down;
}

.image {
    max-height: 100%;
}
.iks {
    font-size: 30px;
}
.navig {
    font-size: 50px;
}

.text {
    margin-right: 5%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 30px;
}
