.container {
    grid-template-rows: repeat(6, 10%);
    position: fixed;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    z-index: 2;
}

.fullmoon,
.book,
.sea,
.bubble,
.stones {
    font-size: 30px;
    text-align: center;
}

.fullmoon {
    grid-column: 2/3;
    grid-row: 2/3;
    font-family: "Montserrat", sans-serif;
}

.book {
    grid-column: 2/3;
    grid-row: 3/4;
    font-family: "Caveat", cursive;
}

.sea {
    grid-column: 2/3;
    grid-row: 4/5;
    font-family: "Bellota", cursive;
}

.bubble {
    grid-row: 5/6;
    grid-column: 2/3;
    font-family: "Yanone Kaffeesatz", sans-serif;
}

.stones {
    grid-row: 6/7;
    grid-column: 2/3;
    font-family: "Amatic SC", cursive;
}
