.container {
    height: 100%;
    width: 100%;
    font-size: 18px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    z-index: 30;
    overflow: hidden;
}

.box {
    font-family: "Rajdhani", sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    z-index: 30;
}

.img_arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 30;
    width: 100%;
}
.imgs {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-width: 80%;
    /* height: 90%; */
    object-fit: scale-down;
}

.iks {
    font-size: 40px;
    margin-top: -5%;
    z-index: 40;
}

.navig {
    font-size: 50px;
}
.navig:hover,
.iks:hover {
    cursor: pointer;
    color: tomato;
}

.text {
    margin-right: 5%;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.textbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70%;
}

.title {
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    .box {
        flex-direction: column;
    }
    .img_arrows {
        width: 125%;
    }
    .text {
        width: 90%;
        height: auto;
        text-align: center;
        align-items: center;
        margin-right: 0;
        margin-top: 5%;
    }
    .textbox {
        width: 100%;
        height: auto;
        text-align: center;
    }
    .container {
        padding: 0;
    }
    .imgs {
        width: 100%;
        height: 100%;
    }
    .title {
        font-size: 25px;
    }
    .iks {
        margin-top: 0;
        font-size: 25px;
    }
}
